:root {
    --primary-color: aliceblue;
    --secondary-color: white;
    --tertiary-color: purple;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: none;
}

a:visited {
    text-decoration: none;
    color: none;
}

a:hover {
    text-decoration: none;
    color: none;
}
  
a:active {
    text-decoration: none;
    color: none;
}

body {
    font-family: monospace; 
    background-color: var(--primary-color);
}

section {
    padding: 60px;
}

.flex-row {
    display: flex;
}

heading {
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 100px;
}

.timer {
    color: var(--tertiary-color);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn {
    background-color: var(--tertiary-color);
    font-family: monospace;
    border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(128, 0, 128, 0.8); 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-box {
    background-color: var(--secondary-color);
    padding: 100px;
    margin: 50px;
    border-radius: 15px;
    display: flex;
}

.quiz-box h1 {
    padding-bottom: 30px;
    text-align: center;
}

img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quiz-box p {
    width: 80%;
    padding: 25px;
    line-height: 1.5;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}